@import "./conf.scss";

.backgroundTop {
    position: absolute;
    background: radial-gradient(at 150% 0, getVar("primary-color") 0, transparent 50%);
    z-index: -999;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    filter: blur(44px);
    opacity: 25%;
}

.backgroundBottom {
    top: 25%;
    background: radial-gradient(at 0 150%, getVar("primary-color") 0, transparent 50%);
    position: absolute;
    z-index: -999;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    filter: blur(44px);
    opacity: 20%;
}