:root {
    --primary-color: rgb(241, 69, 69);
    --mouse-bg: rgba(241, 69, 69, 0.4);
    --mouse-bg-x: rgba(241, 69, 69, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(12, 9, 9);
    --background-header: rgb(17, 14, 14);
    --background-navbar: rgba(12, 9, 9, .7);
    --primary-border-color: rgba(241, 69, 69, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.gold-theme {
    --primary-color: rgb(235, 190, 111);
    --mouse-bg: rgba(235, 190, 111, 0.4);
    --mouse-bg-x: rgba(235, 190, 111, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(12, 11, 9);
    --background-header: rgb(17, 15, 14);
    --background-navbar: rgba(12, 11, 9, .7);
    --primary-border-color: rgba(235, 190, 111, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.orange-theme {
    --primary-color: rgb(241, 131, 69);
    --mouse-bg: rgba(241, 131, 69, 0.4);
    --mouse-bg-x: rgba(241, 131, 69, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(12, 10, 9);
    --background-header: rgb(18, 14, 13);
    --background-navbar: rgba(12, 10, 9, .7);
    --primary-border-color: rgba(241, 131, 69, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.pink-theme {
    --primary-color: rgb(200, 12, 91);
    --mouse-bg: rgba(200, 12, 91, 0.4);
    --mouse-bg-x: rgba(200, 12, 91, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(15, 11, 13);
    --background-header: rgb(20, 16, 18);
    --background-navbar: rgba(15, 11, 13, .7);
    --primary-border-color: rgba(200, 12, 91, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.aqua-theme {
    --primary-color: rgb(111, 183, 235);
    --mouse-bg: rgba(111, 183, 235, 0.4);
    --mouse-bg-x: rgba(111, 183, 235, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(9, 11, 12);
    --background-header: rgb(14, 16, 17);
    --background-navbar: rgba(9, 11, 12, .7);
    --primary-border-color: rgba(111, 183, 235, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.purpal-theme {
    --primary-color: rgb(128, 111, 235);
    --mouse-bg: rgba(128, 111, 235, 0.4);
    --mouse-bg-x: rgba(128, 111, 235, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(10, 9, 12);
    --background-header: rgb(15, 14, 17);
    --background-navbar: rgba(10, 9, 12, .7);
    --primary-border-color: rgba(128, 111, 235, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}

.lightpink-theme {
    --primary-color: rgb(241, 69, 214);
    --mouse-bg: rgba(241, 69, 214, 0.4);
    --mouse-bg-x: rgba(241, 69, 214, 0.3);
    --text-white: rgb(200, 200, 200);
    --text-color: rgb(150, 150, 150);
    --btn-background: rgba(107, 114, 128, 0.05);
    --background: rgb(12, 9, 12);
    --background-header: rgb(17, 14, 17);
    --background-navbar: rgba(12, 9, 12, .7);
    --primary-border-color: rgba(241, 69, 214, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.1);
}