@function getVar($name) {
    @return var(-- + $name);
}

$md-max-width: 820px;
$mdx-max-width: 1080px;
$ld-max-width: 1200px;
$padding-x: 100px;
$padding-x-md: 20px;
$border-radius: 5px;
$border-color: rgba(107, 114, 128, 0.1);
$transition: .5s;

@mixin padding-x {
    padding: 0 $padding-x;
    
    @media screen and (max-width: $md-max-width) {
        padding: 0 $padding-x-md;
    }
}


@mixin mono-text {
    font-family: 'Fira Code', monospace !important;
}
