@import "./conf.scss";

.cursor {
    width: 20px;
    height: 20px;
    background: getVar("mouse-bg");
    border-radius: 50%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    div {
        width: 20px;
        height: 20px;
        background: getVar("mouse-bg-x");
        border-radius: 50%;
        position: absolute;
    }
}