@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import "./conf.scss";
@import "./Colors.scss";

* {
  font-family: 'DM Sans';
  color: getVar("text-color");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: getVar("background");

  // cursor show on mouse in body
  &:hover .app-cursor {
    opacity: 1 !important;
  }

  cursor: none !important;

}

// hide cursor
* {
  cursor: none;
  user-select: none;
}