@import "./conf.scss";

.header {
    top: 0;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 20px 0;
    transition: .2s background;
    background: getVar("background");

    @include padding-x;

    @media screen and (max-width: $mdx-max-width) {
        height: 90px;
    }

    // mobile
    @media (pointer:none), (pointer:coarse) {
        margin: 0;
        position: fixed !important;
        height: 61px;
    }

}

.header_scroll {
    height: 61px;
    background: getVar("background-header");
    border-bottom: 1px solid getVar("header-border-color");
}

.header_bg {
    margin: 0;
    position: fixed !important;
    background: getVar("background-header");
    height: 60px;
    border-bottom: 1px solid getVar("header-border-color");
}

.logo {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.7;
    color: getVar("text-white");
    margin: auto 0;
}

.navLinks {
    margin: auto 0;
    display: flex;
}

.navBarLinks {
    margin: auto;
    margin-right: 10px;
}

.navBarLinks>* {
    color: getVar("text-white") !important;
    margin: auto 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: $transition;

    @media screen and (max-width: $mdx-max-width) {
        display: none;
    }

}

.navBarBtn>* {
    margin: auto;
    margin-left: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    background: getVar("btn-background");
    border: none;
    outline: none;
    padding: 8px;
    width: 46.48px;
    font-size: 1.5rem;
    border-radius: $border-radius;

    &:nth-child(2) {
        margin-left: 1rem;
    }

    &>* {
        color: getVar("text-color-alpha") !important;
        transition: .5s;

        &:hover {
            color: getVar("text-color") !important;
        }
    }

}